:root {
  --font-colorBlk: #000;
  --font-colorWht: #f7ebeb;
  --font-link: #8af1ff;
  --btn-bg1: #ff9df5;
  --btn-bg2: #97ea9f;
  --btn-bg3: #cdcdcd;
  --header-bgc: #ff6868;
  --menu-bgc: #8af1ff;
  --font-family: "Poppins", sans-serif;
  --bgc: #e5e5e5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bgc);
  color: lightgray;
}

.root {
  max-width: 375px;
  min-height: 100vh;
}
