:root {
  --font-colorBlk: #000;
  --font-colorWht: #f7ebeb;
  --font-link-color: #6c1997;
  --btn-bg1: lightcoral;
  --btn-bg2: #97ea9f;
  --btn-bg3: #cdcdcd;
  --header-bgc: #8fc7c7;
  --menu-bgc: #8af1ff;
  --font-family: "Poppins", sans-serif;
  --bgc: #f6d7a7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bgc);
  color: var(--font-colorBlk);
}

.root {
  max-width: 375px;
  min-height: 100vh;
}
